html,body{
    
    font: 15px/1.5 Ariel, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;

    
    
}
/*global*/
.content{
    padding: 0;
    min-height: 100%;
    margin: 0 auto -125px;
}

*{
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
      
}
.login-container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
    
}

a{
    text-decoration: none;
    color: #506485;
}
.flex-container{
   display: flex;
    flex-wrap: wrap;
    
}
.flex-container>div{
    background-color: white;
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    box-shadow: 10px 10px 5px grey;
    transition: 
    
    
}
ul{
    margin: 0;
    padding: 0;
    position: relative;
}
.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark{
    padding: 15px;
    background: #2B3252;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.page-title{
    font-size: 35px;
}

input{
    width: 80%;
    padding: 15px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    
}
textarea{
    width: 80%;
    padding: 15px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    
}

#comm{
    width: 80%;
    padding: 60px 0;
    margin: 8px 0;
    box-sizing: content-box;
}

.body{
    min-height: 100%;
    text-decoration: none;
    
}
.footer-content{
    padding-bottom: 120px;
    
}


/*header*/
header{
    background: #2B3252;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #EF5455 3px solid;
    box-sizing: content-box;
  
    /*#e8491d*/
    
        
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
}

header ul{
    margin: 0;
    padding: 0;
    
}
header li{
    float: left;
    /*display: inline;*/
    list-style: none;
    padding: 0 15px 0 15px;
}
header input{
    padding: 0;
}

header #branding{
    float: left;
    
    
    
}
header #branding h1{
    margin: 0;
    
}
header #branding h1 a{
    font-size: 24px;
    
}
header nav{
    float: right;
    margin-top: 15px;
    
    
}
header .highlight, header .current a{
    color: #EF5455;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
header form{
     padding: 0 15px 0 15px; 
     box-sizing: border-box;
}
header form input{
    list-style: none;
    margin: 0;
    
}
header form button{
    float: right;
   
}
/*
.dropit{
    display: block;
    position: absolute;
}
*/
.authors-image{
    border-radius: 50%;
    
}

/* drop button
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.text-decoration{
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
*/







/*showcase*/

#showcase{
    /*width: 80%;
    margin: auto;
    overflow: hidden;*/
    min-height: 400px;
    background: url('../images/showcase.jpg') no-repeat 0 -400px;
    
    text-align: center;
    color: #ffffff;
    
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    
}
#showcase p{
    font-size: 20px;
}
/*Pagination*/
.pagination {
  display: inline-block;
  
}
.center {
  text-align: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #EF5455;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/*
.search-box{
    position: absolute;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-text{
    width: 150px;
    padding: 0 20px ;
    
}

.search-button{
    color: white;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    
        
}
.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    line-height: 20px;
    
    
} */
/*newsletter*/
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #2B3252;
    /*#35424a*/
}
#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*boxes*/

#boxes{
    margin-top: 20px;
    text-align: center;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    
}

#boxes .box img{
    width: 90px;
}
/*sidebar*/
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px
}

/*Main-col*/
article#main-col{
    float: left;
    width: 65%
}
.error-container{
    float: left;
    text-align: center;
    width: 90%;
    padding: 10px;
}

.error-container h1{
    font-family: "Comic Sans MS";
    font-size: 48px;
    color: red;
}

footer{
    padding: 20px ;
    padding-bottom: 0px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #3C1A5B;
    text-align: center;
    height: 125px;
    clear: both;
    position: relative;

}

/*media quireies*/
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
        
    }
    
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    
    #newsletter button{
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }
    
}